/******************************************************************
Site Name: IanMarquette.com
Author: Ian Marquette

Stylesheet: 24em and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
24em because at 23em it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*********************
HEADER STYLES
*********************/

header {
	//background: $blue;

	h1 {
		font-size: 2.6em;
		margin-top: 0.52em;
	}


}

/*********************
CASE STUDIES
*********************/

.case-study h1 {
	font-size: 2.6em;
}

.scroll-up-box {
	display: block;
	height: 1.6em;
	margin: 1em auto;
}