/******************************************************************
Site Name: IanMarquette.com
Author: Ian Marquette

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h3, .h3 {
	font-size: 2.6em;
	width: 90%;
}

h4, .h4 {
	font-size: 1.6em;
	margin: 0.7em auto;	
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1000px;
}

/*********************
HEADER STYLES
*********************/

header {

	h2.bottom-element {
		margin-bottom: 10.6em;
	}
}

.scroll-box {
	margin: 13.2em auto 2.2em;
}

.scroll-down {
	display: block;
	height: 1.6em;
	width: 1.6em;
	@include sprite-bg('arrow', 0, 0, false);
	@include auto-margin;
}


/*********************
POSTS & CONTENT STYLES
*********************/

.green-section, .yellow-section, .blue-section, .dark-grey-section {

	a.project-button {

		&:hover {
			background-color: $white;
			color: $pink;
			width: 12em;
		}
	}

	a.download-button {

		&:hover {
			background-color: $white;
			color: $pink;
			width: 14em;
		}
	}

	p {
		width: 66%;
	}
}

.white-section {

	p {
		width: 66%;

		a {
			width: inherit;
			@include transition(color 0.2s linear);

		&:hover {
			color: $dark-grey;
		}

	}

	
}

/*********************
CASE STUDIES
*********************/

.scroll-up-box {
	display: block;
	margin: 1em auto;
}

a.scroll-up {
	display: block;
	height: 1.6em;
	width: 1.6em;
	@include sprite-bg('arrow', 0, 0, false);
	@include auto-margin; 
	-webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
     -ms-transform: rotate(180deg);  /* IE 9 */
     -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
     transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

a.scroll-up:hover {
	background-color: white;
	color: #f27398;
	width: 12em;
}
}