/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h3, .h3 {
	font-size: 2.6em;
	width: 90%;
}

h4, .h4 {
	font-size: 1.6em;
	margin: 0.7em auto;	
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1000px;
}

/*********************
HEADER STYLES
*********************/

header {

	h2.bottom-element {
		margin-bottom: 10.6em;
	}
}

.scroll-box {
	margin: 13.2em auto 2.2em;
}

.scroll-down {
	display: block;
	height: 1.6em;
	width: 1.6em;
	@include sprite-bg('arrow', 0, 0, false);
	@include auto-margin;
}


/*********************
POSTS & CONTENT STYLES
*********************/

.green-section, .yellow-section, .blue-section, .dark-grey-section {

	a.project-button {

		&:hover {
			background-color: $white;
			color: $pink;
			width: 12em;
		}
	}

	p {
		width: 66%;
	}
}

.white-section {

	p {
		width: 66%;

		a {
			width: inherit;
			@include transition(color 0.2s linear);

		&:hover {
			color: $dark-grey;
		}

	}

	
}

/*********************
CASE STUDIES
*********************/

.scroll-up-box {
	display: block;
	margin: 1em auto;
}

a.scroll-up {
	display: block;
	height: 1.6em;
	width: 1.6em;
	@include sprite-bg('arrow', 0, 0, false);
	@include auto-margin; 
	-webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
     -ms-transform: rotate(180deg);  /* IE 9 */
     -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
     transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

a.scroll-up:hover {
	background-color: white;
	color: #f27398;
	width: 12em;
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

}