/******************************************************************
Site Name: IanMarquette.com
Author: Ian Marquette

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
FONTS
*********************/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	color: $blue;
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

.white-section a.icon-instagram, 
.white-section a.icon-github, 
.white-section a.icon-pinterest, 
.white-section a.icon-linkedin, 
.white-section a.icon-twitter, 
.white-section a.icon-skype {
	background-color: $pink;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: $white;
	display: block;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	height: 2.4em;
	line-height: 2.3;
	text-decoration: none;
	text-align: center;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	width: 2.4em;
	@include transition(background-color 0.2s linear);
}


.icon-instagram:before {
	content: "\e000";
}
.icon-github:before {
	content: "\e001";
}
.icon-pinterest:before {
	content: "\e002";
}
.icon-linkedin:before {
	content: "\e003";
}
.icon-twitter:before {
	content: "\e004";
}
.icon-skype:before {
	content: "\e005";
}



/*********************
GENERAL STYLES
*********************/

body {
	background: $dark-grey;
	color: $white;
	font-family: $serif;
	font-size: 125%;
	line-height: 1.6;
	
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	margin: 0 auto;
}

.home-section, .blue-section {
	background: $blue;
}

.green-section {
	background: $green;
}

.yellow-section {
	background: $yellow;
}

.dark-grey-section,
.darl-grey-strip {
	background: $dark-grey;
}

.white-section {
	background: $white;
}

.home-section,
.blue-section,
.green-section,
.yellow-section,
.dark-grey-strip,
.dark-grey-section,
.white-section {
	float: left;
	width: 100%;
}

/*********************
LINK STYLES
*********************/

a {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 1.6em;
	letter-spacing: 0.05em;
	line-height: 1.5em;
	text-transform: uppercase;
}

h2, .h2 {
	font-size: 1.6em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.6em;
	font-weight: 600;
	margin: 0.8em auto;
	text-align: center;
	text-transform: uppercase;		
}

h4, .h4 {
	font-size: 1em;
	font-weight: 500;
	margin: 0.8em auto;
	text-align: center;
	text-transform: uppercase;		
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

#inner-header {
	background: $blue;
	height: 3.15em;
	position: static;
	width: 100%;
}

.header {
	position: fixed;
	z-index: 100;
}

header {
	//background: $blue;
	width: 100%;

	h1 {
		line-height: 1.25em;
		width: 95%;
		@include auto-margin;
		margin-top: 0.95em;
	}

	h2 {
		font-weight: 300;
		padding-bottom: 1.15em;
		width: 95%;
		@include auto-margin;
		margin-top: 1em;
	}


}

.scroll-box {
	display: block;
	height: 1.6em;
	margin: 8.4em auto 2.2em;
	width: 100%;
}

.scroll-down {
	display: none;
	
}

	#logo {
		margin: 0 auto 0 3em;
		text-align: center;

		a {
			color: $white;
			display: inline-block;
			font: 90% $sans-serif;
			font-weight: 500;
			letter-spacing: 0.15em;
			padding: 1.1em 0 1em;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

.hire-btn {
	display: none;
}	

#inner-header.persistent-header {

	background: $white;
	height: 3.15em;
	width: 100%;

	#logo { 
		margin: 0 auto 0 4em;

		a {
		-webkit-border-radius: 50%;
    	border-radius: 50%;
    	height: 1.9em;
    	margin: 0.7em 0 0.9em;
    	padding: 0;
    	width: 1.9em;
		@include sprite-bg('blueeyesmall', 0, 0, false);
		background-position-y: -991px;
		background-color: $dark-grey;		
		@include image-replacement;
		}
	}
}


/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

#menu-toggle {
	float: right;
	margin: 1.05em 1.5em 0;
}

.icon-bar {
	background: $white;
	width: 1em;
	height: 0.15em;
	display: block;
	margin-top: 0.15em;

}

nav {
	float: left;
	overflow: hidden;
	text-align: center;
	width: 100%;
	@include auto-margin;

	ul {
		display: none;
	}
}

ul.nav {
	background-color: $dark-grey;
	display: none;
	margin: 0;
	padding: 0;
	width: 100%;

	li {
		display: inline-block;
		margin: 0;
		width: 100%;

		a {
			color: $white;
			display: block;
			font: 90% $sans-serif;
			font-weight: 500;
			letter-spacing: .15em;
			padding: 1.07em 0;
			text-decoration: none;
			text-transform: uppercase;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {
				color: $white;
			}
		}

	} /* end .menu li */

} /* end .nav */

ul.open {
	background-color: $dark-grey;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}

#inner-header.persistent-header  {
	.icon-bar {
		background: $pink;
	}

	ul.nav {
		border-top: 0px;
	}

	ul.open {
		position: relative;
		width: 100%;
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/

header {
		text-align: center;
		@include auto-margin;

	}

.header-image {
	background: url(../images/ian-marquette-photo.jpg);
	-webkit-border-radius: 50%;
    border-radius: 50%;
    height: 8em;
    margin: 4.75em auto 0;
    text-align: center;
    width: 8em;
}

.green-section, .yellow-section, .blue-section, .dark-grey-section {

	 span {
		display: block;

		img {
			display: block;
			max-width: 90%;
			text-align: center;
			//width: 90%;
			@include auto-margin;
		}
	}

	

}

a.project-button {
		@include button;
		display: block;
		margin: 1.8em auto;
		padding: 1em 0.8em;
		text-align: center;
		width: 11em;
		@include transition(all 0.2s linear);

	}

a.download-button {
		@include button;
		display: block;
		margin: 1.8em auto;
		padding: 1em 0.8em;
		text-align: center;
		width: 13em;
		@include transition(all 0.2s linear);

	}

p.project-excerpt {
		margin: 2.4em auto 1em;
		text-align: center;
		width: 90%;
	}


.bio-eye {
	height: 1.6em;
	margin: 0 auto 1.6em;
	width: 3.44em;
	@include sprite-bg('blueeye', 0, 0, false);
}

.white-section, .dark-grey-section {
	p {
		margin: 0 auto 1.6em;
		text-align: center;
	}
}

.white-section {

	h4 {
		color: $dark-grey;
	}

	p {
		margin-bottom: 0;

		a {
		color: $blue;
		display: block;
		font-family: $sans-serif;
		letter-spacing: 0.05em;
		text-align: center;
		text-decoration: none;
		@include auto-margin;

		&:hover {
			//color: $blue;
		}

	}

	
}

ul {
		display: block;
		text-align: center;
		//width: 40.8%;
		width: 80%;
		margin: 0 auto 3.2em;

		li {
			display: inline-block;
			//float: left;
			margin: 1.6em 0.5em 0;
			width: 2.4em;
		}
	}


	.mailto-link {
		color: $pink;
		font-weight: 700;
		text-transform: uppercase;

		&:hover {
			width: auto;
		}
	}
}

/*********************
CASE STUDIES
*********************/

.case-study h1 {
	font-weight: 700;
	letter-spacing: 0.02em;
	margin-top: 3.27em;
	text-align: center;
}

.case-study .green-section p:last-of-type {
	margin-bottom: 1.6em;
}

.case-study {
	.green-section, .yellow-section, .blue-section, .dark-grey-section {

		span img {
			margin: 1.6em auto;
		}
	}
}

.case-study	p {
		margin: 1.6em auto 1em;
		text-align: center;
		width: 90%;
	}

figure.quote blockquote,
figure.quote figcaption {
	font-family: $sans-serif;
	margin: 1.6em auto;
	text-align: center;
	width: 90%;
}


blockquote:before {
	color: $yellow;
	content: '\201C';
}

blockquote:after {
	color: $yellow;
	content: '\201D';
}

figure.quote figcaption	{
	color: $yellow;
	font-weight: 500;
	letter-spacing: 0.1em;
	margin-bottom: 1.6em;
	text-transform: uppercase;
}


.scroll-up-box {
	display: none;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	background: $white;
	clear: both;
	color: $dark-grey;

	p {
		text-align: center;
		width: 90%;
		margin: 0 auto 1.6em;
	}
}